
/* Updated styles for buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

/* Individual button styles */
.ADDBUTTON {
  margin: 0;
}

.upload-form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  color: black;
}
